<div class="d-flex">
    <div class="flex-fill ">
      <button type="button" class="btn btn-warning">
        <i class="bi bi-upload"></i>&nbsp;
        Importer
      </button>
    </div>
    <div class="flex-fill ">
      <button type="button" class="btn btn-success">
        <i class="bi bi-download"></i>&nbsp;
        Exporter
      </button>
    </div>
    <div class="flex-fill ">
      <button type="button" class="btn btn-danger">
        <i class="bi bi-plus"></i>&nbsp;
        Nouveau
      </button>
    </div>
  </div>
  