<div class="col-lg-12">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="row">
                    <div class="col-lg-7 ">
                        <h2 class="ms-2 card-title" >
                            Liste <span>/ Articles</span>
                        </h2>
                    </div>
                    <div class="col-md-5 card-title">
                        <app-action-bouton></app-action-bouton>
                    </div>
                
                </div>
            </div>
        </div><!-- -->
    </div>

</div><!--  -->


<div class="row m-3">
     
    <app-detail-article></app-detail-article>
    <app-detail-article></app-detail-article>
    <app-detail-article></app-detail-article>
    <app-detail-article></app-detail-article>
    <app-detail-article></app-detail-article>



    <app-pagination></app-pagination>
</div>